.tfi.tfi#tnmap {
	max-width: 912px;
    width: 100%;
	background: #0088c8; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #0088c8 0%, #00acc3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #0088c8 0%,#00acc3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #0088c8 0%,#00acc3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088c8', endColorstr='#00acc3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #ffffff;
	font-family: 'Roboto',sans-serif;
	height: auto;
	margin: 0 auto;
	transition: 0.8s;
	box-sizing: border-box;
}

.tfi#tnmap:after {
	content: "";
	display: table;
	clear: both;
}

.tfi#tnmap .graphic{ 
	width: 35%; 
	float: left;
	padding: 15px 10px;
}
.tfi#tnmap .info{ 
	width: 65%;
	float: right;
	padding: 30px 30px 30px 10px;
	text-align: center;
} 
.tfi#tnmap .graphic img{ width: 100%;}

.tfi#tnmap h3{
	color: #fff;
    border: 1px solid #FFFFFF;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 300;
	letter-spacing: 0.1em;
	font-size: 1.5em;
	background-color: #ffffff38;
}


.tfi#tnmap .info .candidates{
	width: 100%;
}
.tfi#tnmap .info .candidates img{
	width: 80%;

}

@keyframes tfi-fadein{
    0%{
		opacity: 0;
		margin-top:-10px;
        }
    100%{
		opacity: 1;
		margin-top:0px;
        }
}

.item{
    animation: tfi-fadein 0.5s 1 0s linear;
}

.tfi#tnmap .info .candidates .item{
	width:20%;
	float: left;
	text-align: center;
	padding: 0 10px;
}
.tfi#tnmap .info .candidates .item p{
	margin-bottom: 0;
	font-weight: 300;
	font-size: 1em;
}

.tfi#tnmap .info .candidates .item span{
	color: #F9EF88;
	font-size: 1em;
	font-weight: 600;
}

.tfi#tnmap h2{
	margin: 0 0 15px 0;
	font-weight: 600;
	color: #fff;
}

.tfi#tnmap p{
	font-size: 1.3em;
	font-weight: 200;
	font-family: 'Roboto',sans-serif;
	width: 80%;
	line-height: 1.4em;
	margin: 0 auto;
}

.tfi#tnmap path:hover {
	fill: #BF318A;
	transition: 0.3s;
}

.tooltip{
	position: absolute;
	background: #ffffff;
	color: #333;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 10px;
	transition: 0.3s;
}
